extends layout

block content
  .jumbotron
    h1 Welcome
    p This is Mike's Nodejs site. It contains a page that is only accessible to logged in users.
    if locals.user
      p #{user.username} is currently logged in and can view my 
        a(href='/secret') Secret Page.
    else
      p You are currently not logged in.
  
  .body-content
    .h2 Authentication
    p For authentication, I make use of the excellent 
      a(href='http://passportjs.org/') Passport.js
      |  module. I use a local storage strategy that stores all accounts in a MongoDB document. All passwords are salted and encrypted (using PBKDF2).

  .body-content
    .h2 Views
    p My views make use of the 
      a(href='http://jade-lang.com/') Jade
      |  templating engine and Twitter's 
      a(href='http://getbootstrap.com') Bootstrap
      |  library.

  .body-content
    .h2 Backend
    p My backend is written with the 
      a(href='http://expressjs.com/') Express.js
      |  framework, and 
      a(href='http://coffeescript.org') CoffeeScript
      .
  
  .body-content
    .h2 Testing
    p When I started this project, I started with BDD. However, I ran into issues with verifying my authentication. My flash messages would display in the browser, but not when I fetched the html inside my tests. I abandoned my testing for now because it was a huge bottleneck for me. I would like to resume my testing once I talk to someone about what went wrong with my tests. I used 
      a(href='http://visionmedia.github.io/mocha/') Mocha
      |, 
      a(href='https://github.com/visionmedia/should.js/') Should.js
      |, and 
      a(href='https://github.com/mikeal/request') Request
      |  for the few tests that I have. One of the tests in my suite doesn't pass, but I left this in to show my thought process.

