extends /views/layout
block content
  .container
    form.form-signin(action='/login', method='post')
      h2.form-signin-heading Please Sign In
      input.input-block-level(type='text', name='username', placeholder='Username', autofocus)
      input.input-block-level(type='password', name='password', placeholder='Password')
      button.btn(class='btn-large btn-primary btn-block', type='submit') Submit
