extends /views/layout
block content
  form.form-signin(action='/register', method='post')
    h2.form-signin-heading Registration
    input.input-block-level(type='text', name='username', placeholder='Username', autofocus)
    input.input-block-level(type='password', name='password', placeholder='Password')
    input.input-block-level(type='password', name='confirm', placeholder='Confirm Password')

    button.btn(class='btn-large btn-primary btn-block', type='submit') Register
